
/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
/* header section */
header{
    background-color: rgb(255, 245, 232);
    margin: 0;
    padding-bottom: 35px;
    
}

/* nav styles */

.nav-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-sec a{
    text-decoration: none;
    margin-right: 20px;
   
}
.nav-anchor{
    margin-right: 240px;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    
}

.section-title{
    margin-left: 228px;
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

/* header style section */
.header-text{
   
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    
}
.header-title-sec{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 30px;
}

.header-parag{
    font-size: 16px;
    color: #727272;
    text-align: center;
    
}
.header-button{
    border: none;
    background: #FF900E;
    width: 160px;
    height: 60px;
    font-size: 20px;
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: 16px;
}
 /* banner style */
 .banner{
   display: flex;
   justify-content: center;
   margin-top: 50px;
   
  
    
 }
.banner img{
   width: 70%;
}

/* body section image style */
.div-text{
    display: flex;
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 300px;
}

.body-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap:10px;
    grid-column-gap: 10px;
}

.body-image img{
    width: 250px;
    height: 250px;
    
}
.info-section{
    margin-left: 70px;
    margin-top: 100px;
   
}

.info-title{
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 24px;
}
.title1{
    color: #727272 ;
}
.title2{
    color: #131313;
}
.title3{
    color: #FF900E;
}


.info-para{
    font-size: 16px;
    color: #727272;
    text-align: justify;
    margin-bottom: 32px;
}

.studey-title{
    border-left: 6px solid green;
    height: 100px;
   font-size: 45px;
   font-weight: 700; 
   padding-left: 10px;

   /* text image section */
}.text-img-section{
display: flex;

margin-top: 130px;
gap: 100px;

}

.study-text{
    margin-left: 200px;
    
}

.archic-img{
    margin-right: 240px;
}

.archic-img img{
    width: 600px;
    height: 1000px;
}



/* inside style */

.insite-section{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}
.inside-title{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 10px;
}

.inside-para{
    font-size: 16px;
    color: #727272;
}

.red{
width: 200px;
height: 100px;
background: #FF900E;
margin: -50px;
border: none;
border-radius: 5px;
color: white;
font-size: 35px;
font-weight: 700px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 100px;
}

.span-text{
    font-size: 18px;
    
}


 /* some fats section */
 .some-title{
    font-size: 45px;
    font-weight: 700px;
    margin-top: 100px;
    margin-bottom: 20px;
    
 }
.some-fact-section{
    margin-left: 200px;
    margin-right: 780px;
}
 .some-para{
    font-size: 16px;
    color: #727272;
 }

 .box {
    margin-top: 100px;
    width: 200px;
    height: 200px;
    border: 2px solid cadetblue;
    
    transition: width 1s, height 1s, transform 1s;
}
.box-text{
    padding-top: 30px;
    text-align: center;
}

.box:hover {
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}

.section-site{
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    justify-content: space-around;
   
}

/* blog-section */
.main-title{
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.blog-special{
   
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
 }
 
 .blog-section{
     display: flex;
     margin-left: 150px;
     margin-top: 100px;
     margin-right: 150px;
 }
 .blog-sec img{
     width: 250px;
     width: 250px;
 }
 
 .blog-text{
     margin-left: 20px;
     margin-top: 15px;
 }


 /* sponsor section */
.sponsor-secton{
    margin-top: 150px;
}
.spnsr-first-sec{
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}
.spnsr-title{
    font-size: 40px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}

.spnsr-para{
    font-size: 16px;
    
    color: #727272;
}

.images-section{
    margin-top: 50px;
  margin-left: 200px; 
  margin-right: 200px; 
  display: flex;
  justify-content: space-around;
  
}


/* footer-section */

footer{
    margin-top: 130px;
    margin-left: 200px;
    margin-right: 200px;

}

.footer-para{
    font-size: 16px;
    text-align: center;
    background: #FFF4E7;
    width: 1100px;
    height: 40px;
    padding-top: 30px;
    color: #424242;
}







